*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
font: bold 14px Tahoma;
}
header,section, footer, aside, nav, article, hgroup{
	display:block;
}
body{
	text-align: center;
	background-color: #DCDCDC;
}
#big_wrapper{
	border: 1px solid black;
	width: 1000px;
	margin: 15px  auto;
	text-align:  left;
	background:white;
}
#top_header{
	border: 1 px solid blue;
	padding: 0px;
	text-align: center;
}
#top_menu{
	background: #7FFFD4;
	color: black;
	text-align:center;
}
#top_menu li{
	display: inline-block;
	list-style: none;
	padding: 7px;
	font: bold 14px Tahoma;
}
#main_section{
	float: left;
	width: 660px;
	margin: 10px;   /* This is 720 px, 280 left*/
}
#side_news{
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 30px;
	background: #87CEFA;
}
#the_footer{
	clear: both;
	text-align: center;
	padding: 8px;
	border-top: 2px solid silver;
	font-weight: bold;
}
article{
	background: #FFFFFF;
	border: 1px solid black;
	padding: 7px;
	margin-bottom: 15px;
	color:black;
}

#image_header{
	border:0px;
}

a:visited{
	color: black;
}
a:link{
	text-decoration: none;
}
a:hover{
	color: red;
	font-weight: bold;
	text-decoration: underline;
}

form{
	margin-top: 25px;
	text-align: center;
}

#display_date{
	color: black;
	margin-left:0px;
	font-weight: bold;
	float:left;
}
#login{
	margin-left:50px;
	border:2px;
}
.social_net{
	text-align:right;
	margin-right:40px;
}
#logout{
	float:right;
	margin-right:30px;
}
