*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
font: bold 14px Tahoma;
}
header,section, footer, aside, nav, article, hgroup{
	display:block;
}
body{
	text-align: center;
	background-color: #DCDCDC;
}
#big_wrapper{
	border: 1px solid black;
	width: 1000px;
	margin: 15px  auto; 
	text-align:  left;
	background:white;
}
#top_header{
	border: 1 px solid blue;
	padding: 0px;
	text-align: center;
}
#top_menu{
	background: #7FFFD4;
	color: black;
	text-align:center;
}
#top_menu li{
	display: inline-block;
	list-style: none;
	padding: 7px;
	font: bold 14px Tahoma;
}
#main_section{
	float: left;
	width: 660px;
	margin: 10px;   /* This is 720 px, 280 left*/
}
#the_footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid silver; 
	font-weight: bold;
}
a:visited{
	color: black;
}
a:link{
	text-decoration: none;
}
a:hover{
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
table {
/*	display: table;
	border-collapse: separate;   */
	border-color:#E5E5E5;
	text-align:center;
	margin-left:10px;
}
td{
	padding:2px;
	background-color:#E5E5E5;
}
